table {
  border-spacing: 0;
  width: 100%;
  border: 4px solid #273e74;

  th {
    cursor: pointer;
  }

  h4 {
    font-weight: bold;
  }

  tr:nth-child(even) {
    background-color: #e8e8e8;
  }

  th, td {
    text-align: left;
    padding: 16px;
  }
}

#hl {
  height: 100px;
  width: 100%;
}
