p {
  font-size: 120%;
  text-align: justify;
}

h2 {
  font-size: 160%;
  text-align: justify;
}

a {
  font-size: 140%;
  text-align: center;
  background-color: rgb(39, 62, 116);
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

#links {
  text-align: center;
  margin-top: 60px;
}
