<h2>Neste projeto, mockamos o site da Empresta e adicionamos um chatbot que automatiza solicitação e acompanhamento de progresso de Emprestimo Consignado.</h2>
<p>Abaixo, no primeiro link, você pode acessar esse site mockado; E para acessar o painel de controle que contém os usuários cadastrados e permite a alteração do status de cada pedido, clique no segundo link.</p>

<div id='links'>
  <a href='http://isabelacs.com/emprestaHackathon'>Site Principal</a>
  <br><br><br>
  <a href='/controller-interface'>Painel de Controle</a>
</div>
